In [1]:
from pathlib import Path
import pandas as pd
import numpy as np
from pprint import pprint

In [2]:
TARGET_FOLDER = Path('../../data/features/')

**One-hot vector as node feature**
1. read edgelist file
2. extract all nodes
3. one-hot encode all nodes
4. return df with two column [node, onehot]

In [6]:
FILE_NAME = 'joint_renamed_v2.csv'
DATA_FOLDER = Path('../../data/')

# 1. Read edgelist
df = pd.read_csv(DATA_FOLDER / FILE_NAME, dtype={
    'cell_type': object,
    'source': object,
    'target': object,
    'type': object,
    'weight': 'float64'
})
df

       cell_type   source      target type      weight
0        GM12878  ATF3_gm        SDF4  TSS  179.618811
1        GM12878  ATF3_gm     B3GALT6  TSS  178.254494
2        GM12878  ATF3_gm       SSU72  TSS  413.000000
3        GM12878  ATF3_gm  AL645728.1  TSS  413.000000
4        GM12878  ATF3_gm      CDK11A  TSS  160.000000
...          ...      ...         ...  ...         ...
786673       NaN   ZNF434      ZNF434  PPI         NaN
786674       NaN   ZNF446      ZNF434  PPI         NaN
786675       NaN   ZNF496      ZNF446  PPI         NaN
786676       NaN  ZSCAN16      ZNF446  PPI         NaN
786677       NaN   ZNF471      ZNF471  PPI         NaN

[786678 rows x 5 columns]

In [7]:
# 2. Extract all nodes
nodes = set(df['source']).union(set(df['target']))
nodes = list(nodes)
nodes.sort()
node_df = pd.DataFrame(nodes)

In [8]:
# Create one-hot encoding df
onehot_df = pd.get_dummies(node_df, prefix='node')

# Convert to np array and check whether it's diagnal matrix
# onehot = onehot_df.to_numpy()
# if np.count_nonzero(onehot - np.diag(np.diagonal(onehot))) == 0:
#     print("It's a diagnal matrix")

onehot_df.index = nodes

In [27]:
# onehot_df['feature'] = onehot_df.index.map(lambda x: onehot_df.loc[x].to_numpy())

In [28]:
# onehot_df = onehot_df[['feature']]

In [42]:
#  onehot_df.loc['A2M']['feature']

array([0, 0, 0, ..., 0, 0, 0], dtype=uint8)

In [9]:
onehot_df.to_csv(TARGET_FOLDER / f'{FILE_NAME[:-4]}_onehot_names.csv', index=True)

****